[access]
	inheritFrom = craftbukkit-plugins
[submit]
	mergeContent = true
[access "refs/*"]
	owner = group CraftBukkit-Plugins Admins
	read = group Anonymous Users
	read = group Registered Users
[project]
	description = A Craftbukkit plugin that backports a selection of features from future Minecraft versions.
[receive]
	requireChangeId = true
